.quote {
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 20px;
    padding-bottom: 20px;
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
}